/* Elements */

body {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
}

/* Header */

.bg-dark-transp {
    background-color: hsla(332, 23%, 16%, 0.3);
}

.header-content {
    height: 100vh;
    background-image: url("background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-brand {
    font-family: 'Cinzel', serif;
    font-weight: 400;
}

@media (max-width: 317px) {
    .navbar-brand {
        font-weight: 400;
        font-size: 1rem;
    }
}

.header-text {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.title-container {
    background-color: hsla(332, 23%, 16%, 0.2);
}

.header-title {
    font-family: 'Cinzel', serif;
    font-weight: 700;
    font-size: 4rem;
    color: #fff;
    padding: 20% auto auto;
}

.header-subtitle {
    font-size: 2rem;
    color: #fff;
    padding-bottom: 1.5%;
}

@media (max-width: 470px) {
    .header-title {
        font-size: 3rem;
    }

    .header-subtitle {
        font-size: 1.5rem;
    }
}

@media (max-width: 362px) {
    .header-title {
        font-size: 2.25rem;
    }

    .header-subtitle {
        font-size: 1.125rem;
    }
}

/* Features */

.features-content {
    padding: 3%;
    text-align: left;
}

@media (min-width: 1980px) {
    .features-content{
        padding: 7% 15%;
    }
}   

@media (max-width: 1100px) {
    .features-content .col {
        flex: 0 0 auto;
        padding: 7% 15%;
    }
}

@media (max-width: 600px) {
    .features-content .col {
        padding: 7%;
    }
}

.feature-img {
    width: 100%;
    height: auto;
    border-radius: 7%;
    padding: 4%;
}

.feature-heading {
    padding: 0 4%;
    font-weight: 600;
}

.feature-text {
    padding: 0 4%;
    font-weight: 200;
}

/* Testimonials */

.testimonals-content {
    background-color: #401801;
    padding: 7% 5%;
}

@media (min-width: 1980px) {
    .testimonals-content {
        padding: 7% 15%;
    }
}

.testimonial-img {
    max-width: 5%;
    min-width: 30px;
    margin: 3% auto 1%;
    background-color: #fff;
    border-radius: 50%;
}

.fa-star, .fa-star-half {
    color: #F2D888;
    padding-bottom: 2%;
}

.testimonial-heading {
    font-size: 2rem;
    color: #fff;
    font-weight: 500;
    max-width: 700px;
    margin: auto;
}

@media (max-width: 1020px) {
    .testimonial-heading {
        font-size: 1.5rem;
        margin: 0 13%;
    }
}

@media (max-width: 920px) {
    .testimonial-heading {
        font-size: 1.2rem;
    }

    .fa-star, .fa-star-half {
        font-size: 0.8rem;
    }
}

.testimonial-name {
    color: #F2D888;
    font-weight: 400;
}

/* Contact */

.contact-content {
    padding: 7%;
    background-color: #e9dac9;
}

.contact-main-header {
    font-family: 'Cinzel', serif;
    font-weight: 700;
    font-size: 3rem;
    color: #260B01;
}

@media (max-width: 470px) {
    .contact-main-header {
        font-size: 2rem;
    }
}

.content-img {
    max-width: 80%;
    height: auto;
    margin-bottom: 5%;
    border-radius: 1%;
}

.contact-form {
    text-align: left;
    max-width: 70%;
    margin: auto;
}

.contact-header {
    font-family: 'Cinzel', serif;
    font-weight: 400;
    color: #401801;;
    
}

.contact-icon {
    color: #401801;
    font-size: 1.5rem;
    margin-left: 10px;
}

.btn-primary {
    color: #fff;
    background-color: #401801;
    border-color: #401801;
}

.btn-primary:hover {
    color: #fff;
    background-color: #260B01;
    border-color: #260B01;
}

/* Social Media */

.bottom-container{
    background-color: #260B01;
    color: #fff;
    padding: 4%;
}

.icon-footer{
    font-size: 2rem;
    margin: 10px;
    color: #fff;
}

.icon-footer:hover{
    color: #e9dac9;
}

.copyright-text {
    font-size: 1.2rem;
}

@media (max-width: 900px) {
    .icon-footer{
        font-size: 1.5rem;
    }
    .copyright-text {
        font-size: 1rem;
    }
}
